<div style="width: 500px;">
    <div>
        <button class="main_button left"  onclick="location.href = '#!/p_id=1'">Product</button>
        <button class="main_button"  onclick="location.href = '#!/'">Home</button>
    </div>
</div>

<div style="margin-top: 20px;">
    <div style="width: 400px; margin-right: 10px;margin-left: 10px;" class="left">
        <div ng-if="prod.active == '1'">
            <input type="checkbox" name="active" id="active" checked  onchange="update_field(this)" />Active
        </div>
        <div ng-if="prod.active != '1'">
            <input type="checkbox" name="active" id="active"  onchange="update_field(this)" />Active
        </div>
        <p style="width: 400px;text-align: center;">ID: {{prod.product_id}}</p>
        <input id="product_id" type="hidden" value="{{prod.product_id}}"/>
        <p style="width: 400px;text-align: center;">Name</p>
        <input style="width: 400px;" onchange="update_field(this)" name="product_name" value="{{prod.product_name}}"></input></br>
        <p style="width: 400px;text-align: center;">Price</p>
        <input style="width: 400px;" onchange="update_field(this)" name="product_price" value="{{prod.product_price}}"></input></br>
        <p style="width: 400px;text-align: center;">Category</p>
        <input style="width: 400px;" onchange="update_field(this)" name="prod_cate_idgory" value="{{prod.prod_cate_idgory}}"></input></br>
        <p style="width: 400px;text-align: center;">Type</p>
        <input style="width: 400px;" onchange="update_field(this)" name="prod_type_id" value="{{prod.prod_type_id}}"></input></br>
        <p style="width: 400px;text-align: center; ">Brand</p>
        <input style="width: 400px;" onchange="update_field(this)" name="brand" value="{{prod.brand}}"></input></br>
        <p style="width: 400px;text-align: center; ">Image URL</p>
        <input style="width: 400px;" onchange="update_field(this)" name="img_url" value="{{prod.img_url}}"></input></br>
    </div>
</div>

<div>
    <textarea name="long_desc" id="editor" onchange="update_field(this)">
        skdafgdgfsgdfkgaskdfg
    </textarea>
</div>