
.style-ul {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    white-space: nowrap;
    display: inline-block;
    overflow: visible;
    width: calc(100% - 0px);
    background-color: rgba(238, 232, 216, 1);
    border-radius: 80px;
    border: solid 0px transparent;
    position: relative;
    text-align: center;
    list-style-type: none;
}

li {
    display: inline;
}

ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;
}

.checkout-page{
    width: 1000px;
    margin: auto;
    margin-top: 30px;
}
.basket{
    width: 595px;
    padding: 20px;
    margin-right: 5px; 
    margin-bottom: 20px; 
    background: antiquewhite;
    float: left;
}
.show_total{
    width: 395px;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 5px;
    background: antiquewhite;
    float: left;
}
li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    line-height: 25px;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    color: gray;
}

li a:hover {
    background-color:antiquewhite;
    border-radius: 80px;
    color: gray;
}

a:hover {
    text-decoration: none;
    color: lightcoral;
}

.nav {
    /* left: 25%; */
    margin: auto;
    width: 80%; 
    position: relative; 
    top: 10%; 

}

p {
    color: darkslategrey;
}
span {
    color: darkslategrey;
}

.main-screen {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.mobile-screen{
    display: none;
}

.bx-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}


.footer {
    margin: 0 auto;
    margin-top: 30px;
}


.prod_box {
    width: 300px;
}

.content a {
    color: black;
}

.footer {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    bottom: 15px;
    padding: 10px 0px 0px 0px;
    height: 110px;
    float: left;
}

.content1 {
    width: 20%;
    float: left;
}

.content2 {
    width: 20%;
    float: left;
}

.text-center {
    text-align: center;
}

.prod_slider {
    width: 700px;
}

.prod-pict {
    width: 200px;
    height: 200px;
    margin: auto;
}

.wall-pic {
    width: 800px;
}

.slider {
    width: 800px;
    margin: 0 auto;
}


.product_name{
    text-align: left;
}

.product_price{
    text-align: right;
    width: 200px;
}



.inline { float:left; }
.select_inline{
	float:left;
	margin:0px 10px 0px 0px;
}
.input_inline{
	float:left;
	width: 35px;
	margin:0px 5px 0px 5px;
}
.img_prod {
	width: 400px;
	margin:0px 20px 0px 0px;
}
.prod_top {
	max-width: 1000px;
	margin: auto;
    height: 700px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.img_list{
	width:100px;
	margin:10px 8px 0px 8px;
}
.product_name{
	font-size: 30px;
}

.text_prod {
	font-size: 18px;
}

.prod_action {
    display: inline-block;
    width: 55%;
}

.content-title{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

a {
    color: black;
}

.text-center{
    text-align: center;
}

.btn_expand{
    width: 10px;
    font-family: fantasy;
    float: left;
}

.main_cat_title{
    width: 170px;
    float: left;
    text-align: left;
}

.main_type{
    margin-left: 20px;
    width: 200px;
    display: none;
}

.main_type :hover{
    color: bisque;
}

.main_cat {
    border: none;
    background: none;
    display: block;
}

.right_menu{
    width: 200px;
    margin-left:10px; 
    margin-right: 20px;
    float: left;
}

.shop_content {
    margin-top: 30px;
}

.prod_cell{
    width: 180px;
    float: left;
    margin: 10px 10px 10px 10px;
}

.img_prod_cell{
    width: 180px;
    height: 180px;
    display: grid;
}

.prod_info{
    display: grid;
    text-align: center;
}
.prod_info.name {
    height: 90px;
}

.prod_result {
    max-width: 1500px;
    margin-left: 230px;
}

.hr{
    width: 100px;
    margin: auto;
}

.cart_icon{
    width: 50px;
    height: 50px;
    margin-top: -10%;
    margin-left: 95%;
    position: fixed;
}

.new_prod_list{
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 500px;
}

.see_more{
    display: grid;
    max-width: 1000px;
    text-align: center;
    float: right;
}

.list_produt{
    max-width: 1000px;
}
.btn_see_more{
    width: 122px;    
    text-align: center;
    margin-left: 890px;
    background: antiquewhite;
    border: none;
    border-radius: 12px;
}

.small_banner {
    width: 300px;
    height: 300px;
}

.list_banner {
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
    height: 330px;
}

.div_small_banner{
    float: left;
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.prod_long_desc{
    max-width: 1000px;
    margin: auto;
}

.btn_add_cart {
    display: grid;
    text-align: center;
    margin: auto;
    background-color: lightcoral;
    color: white;
}

.prod_detail{
    width: 300px;
    height: 50px;
    margin-left: 100px;
}
.address_delivery {
    display: grid; 
    padding-left: 20px;
    margin: auto; 
    width: 1000px;
    margin-top: 20px;
    background: antiquewhite;
}
.info_address{
    width: 650px;
    margin: auto;
    padding-top: 20px;
}
button {
    border: none;
}

.search_field{
    background-color: white;
    background-image: url('/search_icon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 40px;
}

img.mySlides {
    width: 1000px;
    height: 500px;
}