@media only screen and (max-width: 1000px) {
  .qty {
    width:550px;
    padding: 20px;
  }
  .input-qty {
    width: 104px;
    height: 51px;
    float:left;
    text-align:center;
  }
  .product_name {
    font-size: 40px;
    padding: 20px;
  }
  .sort-desc-n-sku {
    padding: 20px;
  }
  .text_prod {
    font-size: 40px;
    padding: 20px;
  }
  .checkout-btn {
    padding-right: 20px;
  }
  .total-price {
    padding-right: 20px;
  }
  .empty-basket {
    font-size: 20px;
  }
  .continue-shopping {
    width: 300px;
    margin: auto;
  }
  .continue-shopping-btn {
    background: white;
    border: solid 1px lightcoral;
    font-size: 20px;
    width: 300px;
    height: 50px;
    cursor: pointer;
  }
  .prod_info.name {
    height: 90px;
  }
  .plus-qty{
    width: 30px;
  }
  .minus-qty{
    width: 30px;
  }
  .img_list{
    width: 30%;
  }
  .img_prod{
    width: 100%;
    padding-top: 220px;
  }
  .checkout-page{
    margin-top: 0px;
    padding-top: 200px;
    font-size: 30px;
  }
  .show_total{
    width: 94%;
    margin: 3%;
    padding: 20px;
  }
  .address_delivery{
    width: 94%;
    margin: 3%;
    padding: 20px;
  }
  .info_address{
    width: 100%
  }
  .basket {
    width: 94%;
    margin: 3%;
  }
  span{
    font-size: 30px;
  }
  div{
    font-size: 30px;
  }
  .btn_see_more {
    width: 300px;
  }
  h4{
    font-size: 30px;
  }
  .list_banner {
    margin-top: 500px; 
  }
  .banner_home{
    margin-top: 0px;
  }
  .inline{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .img_list {
    width: 30%;
  }
  .prod_action{
    display: unset;
  }
  .shop_content{
    margin-top: 0px;
    padding-top: 200px;
  }
  .prod_top {
    padding-top: 200px;
    height: 700px;
    display: contents;
  }
  .main-screen {
      display: none;
  }
  .cart_icon {
    margin-left: 85%;
    margin-top: 1%;
    width: 100px;
    height: 100px;
  }
  .btn_add_cart{
    height: 100px;
  }
  .prod_detail{
    width: 500px;
    height: 100px;
    margin: auto;
  }
  .logo_mobile {
    /* margin: 15px; */
  }
  .nav_bar_mobile {
    font-size:90px;
    cursor:pointer;
    color:black;
    background: white;
    padding-left: 30px;
  }
  img.logo_mobile {
    width: 140px;
  }
  .w3-tooltip, .w3-display-container{
    position: unset;
  }
  .mobile-screen{
    display: block;
    background: white;
    height: 200px;
    width: 100%;
    position: fixed;
    top: 0px;
  }
  .nav-mobile {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.nav-mobile a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.nav-mobile a:hover {
    color: #f1f1f1;
}

.nav-mobile .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .div_small_banner{
    width: 29%;
  }
  .prod_cell{
    width: 47%;
    margin: 14px;
  }
  .img_prod_cell{
    width: 100%;
    height: 450px;
  }
  .right_menu{
    display: none;
  }
  .prod_result{
    margin-left: 0px; 
    width: 100%;
    margin: auto;
  }
}

@media only screen and (max-width: 700px) {
  .main-screen {
      display: none;
  }
  .mobile-screen{
    display: block;
    background: white;
    height: 90px;
    width: 100%;
  }
  .nav-mobile {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.nav-mobile a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.nav-mobile a:hover {
    color: #f1f1f1;
}

.nav-mobile .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .div_small_banner{
    width: 29%;
    height: 200px;
    margin-right: 0px;
  }
  .prod_cell{
    width: 45%;
  }
  .img_prod_cell{
    width: 100%;
    height: 450px;
  }
  .small_banner{
    width: 100%;
    height: 100%;
  }
  .list_banner{
    height: 200px;
  }
}

@media only screen and (max-width: 900px) {
  .new_prod_list {
    margin-top: 0px;
  }
  .list_banner {
    height: 230px;
  }
  .small_banner {
    max-width: 200px;
    max-height: 200px;
  }
  .right_menu{
    display: none;
  }
  .prod_result{
    margin-left: 0px; 
    width: 100%;
    margin: auto;
    margin-top: 70px;
  }
  .cart_icon {
    margin-left: 90%;
    margin-top: -10px;
    top: 20px;
  }
  .logo_mobile {
    margin: 10px;
  }
  .mySlide {
    width: 100%;
    height: 300px;
  }
  .banner_home {
    height: 200px;
    position: unset;
  }
  .mobile-screen {
    position: fixed;
    top: 0px;
    overflow: auto;
  }
}

@media only screen and (max-width: 500px) {
  .mobile-screen {
    width: 100%;
    height: 100px;
  }
  body {
    width: 100%
  }
}