<div class="checkout-page">
  <div class="basket">
    <div><span>Giỏ hàng của bạn</span></div>
    <hr/>
    <div ng-repeat="b in basket">
      <div style="display: grid;">
        <div style="float: left;">
            <img ng-src="{{b.img_url}}" style="width: 50px" alt="{{b.img_url}}">
            {{b.product_name}}
            <span  style="float: right;">{{b.total_item_show}} || <a href="#" ng-click="delete_item(b.product_id)">Xóa</a></span> 
            <div  style="float: right; margin-right: 5px;">
                <input style="width: 60px;" ng-change="update_qty(b.product_id,b.qty)" type="number" name="qty" id="qty" ng-model="b.qty">=
            </div>
            <span style="float: right;margin-right: 5px;">{{b.product_price_show}} * </span>
        </div>
      </div>
      <hr/>
    </div>
  </div>
  <div class="show_total">
    <span>Thông tin đơn hàng</span>
    <hr/>
    <div style="margin-bottom: 10px;">
      <span>Tạm tính: </span> 
      <span style="float: right">{{total_amount_show}}</span>
    </div>
    <div style="margin-bottom: 10px;">
      <span>Giảm giá: </span> 
      <span style="float: right">{{total_amount_show}}</span>
    </div>
    <div style="margin-bottom: 10px;">
      <span>Phí thu hộ - Ship COD(Chuyển khoản sẽ không mất phí này): </span> 
      <span style="float: right">{{ship_cod_phi_show}}</span>
    </div>
    <div>
      <span>Discount</span>
      <span>
        <input type="text" ng-model="discount">
      </span>
      <span>
        <button>Apply</button>
      </span>
    </div>
    <hr/>
    <div>
      <span>Tổng tiền: </span>
      <span style="float: right">{{tien_tong_show}}</span>
    </div>
    <div style="margin-bottom: 10px;">
      <span>Phương thức thanh toán: </span> 
      <div>
        <input type="radio" name="payment_type" checked="checked" ng-change="payment_type_ship()" ng-model="payment_type" value="cod">
        <span>Ship COD</span><br/>
        <input type="radio" name="payment_type" ng-change="payment_type_ship()" ng-model="payment_type" value="ck">
        <span>Chuyển khoản</span>
      </div>
    </div>
    <div style="margin-bottom: 10px; display: none;" id="show_tai_khoan">
      <span>Chuyển Khoản : </span> 
      <p>Xin vui lòng chuyển khoản trước khi nhân viên của shop gọi xác nhận</p>
      <p>- Trần Nhật Thảo Vi - Ngân hàng VIB chi nhánh Tôn Đức Thắng, Tp.HCM - 686704060168770</p>
    </div>
  </div>
  <div style="display: grid; padding-left: 20px;margin: auto; width: 1000px;margin-top: 20px;background: antiquewhite">
    <div style="width: 650px;margin: auto;padding-top: 20px;">
        <div><span>Thông tin khách hàng</span><hr/></div>
        <div style="clear: both;padding-top: 5px;">
          <span>Họ tên: </span>
          <span><input style="width: 500px;float: right;"  ng-model="customer.customer_name" type="text" name="customer_name" id="customer_name"></span>
        </div>
        <div style="clear: both;padding-top: 5px;">
          <span>Địa chỉ: </span>
          <span><input style="width: 500px;float: right;" ng-model="customer.customer_address" type="text" name="customer_address" id="customer_address"></span>
        </div>
        <div style="clear: both;padding-top: 5px;">
          <span>Số điện thoại: </span>
          <span><input style="width: 500px;float: right;" ng-model="customer.customer_phone" type="text" name="customer_phone" id="customer_phone"></span>
        </div>
        <div style="clear: both;padding-top: 5px;">
          <span>Email: </span>
          <span><input type="text" style="width: 500px;float: right;" ng-model="customer.customer_email" type="text" name="customer_email" id="customer_email"></span>
        </div>
        <div style="clear: both;padding-top: 5px;">
          <span>Ghi chú: </span>
          <textarea style="width: 500px;float: right;" ng-model="customer.customer_msg" name="customer_msg" id="customer_msg" cols="30" rows="10"></textarea>
        </div>
        
      </div>
      <div style="margin: auto;padding-top: 50px;padding-bottom: 50px;">
          <button style="width: 200px; height: 50px;background: red;" ng-click="docheckout(basket,customer,discount)">ĐẶT HÀNG</button>
        </div>
    </div>
</div>

