<div class="cart_info">
	<img onclick="openNav()" class="cart_icon" src="cart.png" alt="" style="margin-left: 95%">
		
</div>
<div id="mySidenav" class="sidenav">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<span>Giỏ Hàng Của Bạn</span>  
	<hr/>
	<div ng-repeat="b in basket">
		<div>
			<table>
				<tbody>
					<tr>
						<td>
							<img ng-src="{{b.img_url}}" style="width: 50px" alt="{{b.img_url}}">
						</td>
						<td colspan="2">{{b.product_name}}</td>
					</tr>
					<tr>
						<td>{{b.product_price_show}} * </td>
						<td><input style="width: 60px;" ng-change="update_qty(b.product_id,b.qty)" type="number" name="qty" id="qty" ng-model="b.qty">= </td>
						<td>{{b.total_item_show}}</td>
					</tr>
				</tbody>
			</table>
			<hr/>
		</div>
	</div>      
	<div style="text-align:right; display: grid;">Tổng: {{total_amount_show}} <hr/></div>

	<div style="float: right; display: grid;margin-bottom: 50px;">
		<button onclick="location.href='#!/checkout'">Checkout</button>
	</div>
</div>

<div class="prod_top">
	<span class="inline img_prod">		
		<div >
			<img class="img_prod" src="{{first_img}}"/>
		</div>
		<div>
			<div ng-repeat="imgs in list_img">
				<img class="img_list inline" ng-src="{{imgs}}"/>
			</div>
		</div>
	</span>
	<span class="prod_action">
		<div style="height:30px"></div>
		<p class="product_name">{{prod.product_name}}</p>
		<div>
			<p>SKU: {{prod.product_id}}</p>
			<p ng-bind-html="trustAsHtml(prod.prod_desc)"></p>
		</div>
		
		<div>
			<p class="select_inline text_prod">Price: {{prod.product_price_show}}</p>
		</div>
		</br>
		</br>
		<div>
			<button class="btn_add_cart w3-red prod_detail" ng-click="addcard(prod)">Add to bag</button>
		</div>
	</span>
</div>

<div class="w3-container prod_long_desc">
	<div class="w3-row">
		<a href="javascript:void(0)" onclick="openCity(event, 'Description');">
			<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-pale-red">Description</div>
		</a>
		<a href="javascript:void(0)" onclick="openCity(event, 'Review');">
			<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Review</div>
		</a>
		<a href="javascript:void(0)" onclick="openCity(event, 'Question');">
			<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Question</div>
		</a>
	</div>

	<div id="Description" class="w3-container city">
		<h2>Description</h2>
		<p ng-bind-html="trustAsHtml(prod.long_desc)"></p>
	</div>

	<div id="Review" class="w3-container city" style="display:none">
		<h2>Review</h2> 
	</div>

	<div id="Question" class="w3-container city" style="display:none">
		<h2>Question</h2>
	</div>
</div>