<div class="cart_info">
	<img onclick="openNav()" class="cart_icon" src="cart.png" alt="" >
		
</div>
<div id="mySidenav" class="sidenav">
	<a class="closebtn" onclick="closeNav()">&times;</a>
	<span class="basket-title" ng-if="total_amount > 0">Giỏ Hàng Của Bạn</span>  
	<hr/>
	<div ng-repeat="b in basket">
		<div class="basket-detail">
			<span>
				<img ng-src="{{b.img_url}}" style="width: 50px" alt="{{b.img_url}}">
			</span>
			<span>{{b.product_name}}</span>
			<br/>
			<span style="padding-left:5px;">{{b.product_price_show}}</span>
			<span style="padding-left:5px;">*</span>
			<span><input class="b-p-qty" ng-change="update_qty(b.product_id,b.qty)" type="number" name="qty" id="qty" ng-model="b.qty"></span>
			<span style="padding-left:5px;">=</span>
			<span style="padding-left:5px;">{{b.total_item_show}} </span>
			<span style="padding-left:5px;" ng-click="delete_item(b.product_id)"><img class="delete-item" src="/delete_icon.png" alt=""></span>
			<hr/>
		</div>
	</div>      
	<div class="total-basket" ng-if="total_amount > 0">
		<span class="total-basket">Tổng tiền:</span>
		<span class="total-basket total-price">{{total_amount_show}} </span>  
		<hr/>
	</div>

	<div class="checkout-btn" ng-if="total_amount > 0">
		<button class="btn-checkout" onclick="location.href='#!/checkout'">Thanh Toán</button>
	</div>
	<div ng-if="total_amount == 0" style="text-align: center;"><span class="empty-basket">Giỏ hàng của bạn đang trống</span></div>
	<br ng-if="total_amount == 0">
	<br ng-if="total_amount == 0">
	<div ng-if="total_amount == 0" class="continue-shopping"><button class="continue-shopping-btn">Tiếp tục mua sắm</button></div>
</div>

<div class="prod_top">
	<span class="inline img_prods">		
		<div >
			<img class="img_prod" src="{{first_img.src}}" alt="{{first_img.alt}}"/>
		</div>
		<div>
			<div ng-repeat="imgs in list_img">
				<a  ng-click="show_big_img(imgs);"><img class="img_list inline" ng-src="{{imgs.src}}" alt="{{imgs.alt}}"/></a>
			</div>
		</div>
	</span>
	<div class="prod_action">
		<div style="height:30px"></div>
		<p class="product_name">{{prod.product_name}}</p>
		<div class="sort-desc-n-sku">
			<p>SKU: {{prod.product_id}}</p>
			<p ng-bind-html="trustAsHtml(prod.prod_desc)"></p>
		</div>
		
		<div>
			<p class="select_inline text_prod">Giá tiền: {{prod.product_price_show}}</p>
		</div>
		</br>
		</br>
		<div class="qty">
			<span style="float:left;margin-right:10px;"> Số lượng: </span>
			<div class="plus-qty">
				<a ng-click="minus_qty()" ><img src="/minus_icon.png" alt=""></a>
			</div>
			<div>
				<input type="number" min="1" max="20" required class="input-qty" ng-model="detail_qty" ng-init="detail_qty = 1"></input>
			</div>
			<div class="minus-qty">
				<a ng-click="plus_qty()"><img src="/add_icon.png" alt=""></a>
			</div>
		</div>
		</br>
		</br>
		<div>
			<button class="btn_add_cart prod_detail" ng-click="addcard(prod)">THÊM VÀO GIỎ</button>
		</div>
	</div>
</div>

<div class="w3-container prod_long_desc">
	<div class="w3-row">
		<a href="" onclick="openCity(event, 'Description');">
			<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-pale-red">CHI TIẾT</div>
		</a>
		<a href="" onclick="openCity(event, 'Review');">
			<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">ĐÁNH GIÁ</div>
		</a>
		<a href="" onclick="openCity(event, 'Question');">
			<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">CÂU HỎI</div>
		</a>
	</div>

	<div id="Description" class="w3-container city">
		<p ng-bind-html="trustAsHtml(prod.long_desc)"></p>
	</div>

	<div id="Review" class="w3-container city" style="display:none">
		
	</div>

	<div id="Question" class="w3-container city" style="display:none">
		
	</div>
</div>