<div class="cart_info">
        <img err-src="/default.jpg" onclick="openNav()" class="cart_icon" src="cart.png" alt="Thông tinh giỏ hàng" >
            
</div>
<div id="mySidenav" class="sidenav">
	<a class="closebtn" onclick="closeNav()">&times;</a>
	<span class="basket-title" ng-if="total_amount > 0">Giỏ Hàng Của Bạn</span>  
	<hr/>
	<div ng-repeat="b in basket">
		<div class="basket-detail">
			<span>
				<img err-src="/default.jpg" ng-src="{{b.img_url}}" style="width: 50px" alt="{{b.img_url}}">
			</span>
			<span>{{b.product_name}}</span>
			<br/>
			<span style="padding-left:5px;">{{b.product_price_show}}</span>
			<span style="padding-left:5px;">*</span>
			<span><input class="b-p-qty" ng-change="update_qty(b.product_id,b.qty)" type="number" name="qty" id="qty" ng-model="b.qty"></span>
			<span style="padding-left:5px;">=</span>
			<span style="padding-left:5px;">{{b.total_item_show}} </span>
			<span style="padding-left:5px;" ng-click="delete_item(b.product_id)"><img err-src="/default.jpg"  class="delete-item" src="/delete_icon.png" alt="Xóa sản phẩm khỏi giỏ hàng"></span>
			<hr/>
		</div>
	</div>      
	<div class="total-basket" ng-if="total_amount > 0">
		<span class="total-basket">Tổng tiền:</span>
		<span class="total-basket total-price">{{total_amount_show}} </span>  
		<hr/>
	</div>

	<div class="checkout-btn" ng-if="total_amount > 0">
		<button class="btn-checkout" onclick="location.href='#!/checkout'">Thanh Toán</button>
	</div>
	<div ng-if="total_amount == 0" style="text-align: center;"><span class="empty-basket">Giỏ hàng của bạn đang trống</span></div>
	<br ng-if="total_amount == 0">
	<br ng-if="total_amount == 0">
	<div ng-if="total_amount == 0" class="continue-shopping"><button class="continue-shopping-btn">Tiếp tục mua sắm</button></div>
</div>

<div class="w3-content w3-section banner_home">
    <div class="mySlides">
        <img err-src="/default.jpg"  alt="Banner 1" class="mySlide" src="/banner/banner1.png">
    </div>
    <div class="mySlides">
        <img err-src="/default.jpg"  alt="Banner 2" class="mySlide" src="/banner/banner2.png">
    </div>
    <div class="mySlides">
        <img err-src="/default.jpg"  alt="Banner 3" class="mySlide" src="/banner/banner3.png">
    </div>
</div>

<div class="list_banner" style="clear:  both;">
    <div class="div_small_banner">
        <a href="#!/shop/product_type/sun-cream">
            <img err-src="/default.jpg"  class="small_banner" src="/small_banner/sb_4.png" alt="Kem chống nắng">
        </a>
    </div>
    <div class="div_small_banner">
        <a href="#!/shop/product_type/lotion">
            <img err-src="/default.jpg"  class="small_banner" src="/small_banner/sb_5.png" alt="Lotion">
        </a>
    </div>
    <div class="div_small_banner">
        <a href="#!/shop/product_type/mask">  
            <img err-src="/default.jpg"  class="small_banner" src="/small_banner/sb_6.png" alt="Mặt nạ">
        </a>
    </div>
</div>

<div class="new_prod_list">
    <div style="clear:  both;">
            <h4 style="width: 300px; float: left;">Sản Phẩm Mới</h4>
            <a class="btn_see_more" style="float: right;" href="#!/shop">See More >></a>
    </div>
    <div class="list_produt">
        <div ng-repeat="prod in new_prod">
            <div class="prod_cell">
                <a href="#!/product_detail/{{prod.seo_url}}" >
                    <img err-src="/default.jpg"  class="img_prod_cell" ng-src="{{prod.img_url}}" alt="{{prod.img_alt}}">
                    <span class="prod_info name">{{prod.product_name}}</span>
                    <hr class="hr"/>
                    <span class="prod_info " ng-if="prod.product_sale_price>0">{{prod.product_sale_price}}</span>
                    <span class="prod_info">{{prod.product_price_show}}</span>                
                </a>
                <button class="btn_add_cart " ng-click="addcard(prod)">Thêm vào giỏ</button>
            </div>            
        </div>
    </div>
</div>
<div class="list_banner" style="clear:  both;">   
    <div class="div_small_banner">
        <a href="#!/shop/product_type/lipstick">
            <img err-src="/default.jpg"  class="small_banner" src="/small_banner/sb_1.png" alt="Son môi">
        </a>
    </div>
    <div class="div_small_banner">
        <a href="#!/shop/product_type/functional-food">
            <img err-src="/default.jpg"  class="small_banner" src="/small_banner/sb_2.png" alt="Thực phẩm chức năng">  
        </a>
    </div>
    <div class="div_small_banner">
        <a href="#!/shop/product_type/face-wash">
            <img err-src="/default.jpg"  class="small_banner" src="/small_banner/sb_3.png" alt="Sửa rữa mặt">
        </a>
    </div>
</div>
<div class="new_prod_list">
    <div style="clear:  both;">
            <h4 style="width: 300px; float: left; margin-top: 50px;">Bán Chạy</h4>
            <a class="btn_see_more" style="float: right;" href="#!/shop">See More >></a>
    </div>
        <div class="list_produt">
            <div ng-repeat="prod in best_sell">
                <div class="prod_cell">
                    <a href="#!/product_detail/{{prod.seo_url}}" >
                        <img err-src="/default.jpg"  class="img_prod_cell" ng-src="{{prod.img_url}}" alt="{{prod.img_alt}}">
                        <span class="prod_info name">{{prod.product_name}}</span>
                        <hr class="hr"/>
                        <span class="prod_info" ng-if="prod.product_sale_price>0">{{prod.product_sale_price}}</span>
                        <span class="prod_info">{{prod.product_price_show}}</span>                   
                    </a>      
                    <button class="btn_add_cart" ng-click="addcard(prod)">Thêm vào giỏ</button>
                </div>      
            </div>
        </div>
    </div>