<div class="cart_info">
        <img onclick="openNav()" class="cart_icon" src="cart.png" alt="" style="margin-left: 95%">
            
</div>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <span>Giỏ Hàng Của Bạn</span>        
</div>

<div class="shop_content">
    <div class="right_menu">
        <div>
            <button class="main_cat" name="all_product" onclick="location.href = '#!/shop/product_type=33'">
                <div class="main_cat_title">ALL</div>
            </button>
        </div>
        <div ng-repeat="menu in menu_prod">
            <button class="main_cat" onclick="open_prod_type(this)" name="{{menu.seo_url}}">
                <div class="main_cat_title">{{menu.product_cate_name}}</div>
                <div class="btn_expand">+</div>
            </button>
            <div ng-repeat="type in menu.types">            
                <div class="main_type {{type.cate_url}}">
                    <div class="main_cat" name="{{type.type_url}}" ng-click="goto(this)">{{type.product_type_name}}</div>
                </div>
            </div>            
        </div>
    </div>
    <div class="prod_result">
        <div ng-repeat="prod in product">            
            <div class="prod_cell" >
                <a href="#!/product_detail/{{prod.seo_url}}" >
                    <img class="img_prod_cell" ng-src="{{prod.img_url}}" alt="">
                    <span class="prod_info">{{prod.product_name}}</span>
                    <hr class="hr"/>
                    <span class="prod_info" ng-if="prod.product_sale_price > 0">{{prod.product_sale_price}}</span>
                    <span class="prod_info">{{prod.product_price}}</span>
                </a>
                <button class="btn_add_cart" ng-click="addcard(prod.product_id)">Thêm vào giỏ</button>
            </div>
        </div>
    
    </div>
</div>